/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 500; }

h1 {
  font-size: 36pt;
  padding-top: 1rem;
  margin-bottom: 1rem; }

h2 {
  font-size: 20pt;
  padding-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 13pt;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem; }

p {
  margin-bottom: 1rem;
  line-height: 1.5rem; }

li {
  list-style-type: square;
  margin-left: 1.5rem;
  line-height: 1.5rem; }

blockquote {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16pt;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-style: italic; }

a {
  color: #9F9F9F; }

body {
  perspective: 1000px; }
  body:not([class*="open"]) {
    cursor: pointer; }

.cover, .cover-left, .cover-right {
  width: 50%;
  height: 100vh;
  float: left; }
  .cover .logo, .cover-left .logo, .cover-right .logo {
    margin-top: calc(50vh - 235px);
    background-color: #2E2E2E;
    background-image: url("../images/logos/logo-white-transparent.png");
    background-repeat: no-repeat;
    width: 140px;
    height: 470px;
    transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform-style: preserve-3d; }

.cover-left {
  background: linear-gradient(to bottom, #2E2E2E 0%, #2E2E2E calc(50% - 232px), rgba(0, 0, 0, 0) calc(50% - 232px), rgba(0, 0, 0, 0) calc(50% + 235px), #2E2E2E calc(50% + 235px)), linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 140px, #2E2E2E 140px, #2E2E2E 100%); }
  .cover-left .logo {
    margin-left: calc(100% - 140px);
    transform-origin: 0% 50%; }
    .open .cover-left .logo {
      transform: rotateY(-90deg); }

.cover-right {
  background: linear-gradient(to bottom, #2E2E2E 0%, #2E2E2E calc(50% - 232px), rgba(0, 0, 0, 0) calc(50% - 232px), rgba(0, 0, 0, 0) calc(50% + 235px), #2E2E2E calc(50% + 235px)), linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 140px, #2E2E2E 140px, #2E2E2E 100%); }
  .cover-right .logo {
    margin-left: 0;
    background-position: top left calc(-140px);
    transform-origin: 100% 50%; }
    .open .cover-right .logo {
      transform: rotateY(90deg); }

/*# sourceMappingURL=door.css.map */
