/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 500; }

h1 {
  font-size: 24pt;
  padding-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.25em; }

h2 {
  font-size: 20pt;
  padding-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 13pt;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem; }

p {
  margin-bottom: 1em;
  line-height: 1.5em; }

li {
  margin-left: 1.5rem;
  line-height: 1.5rem; }

blockquote {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16pt;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-style: italic; }

a {
  color: #9F9F9F; }

code {
  font-family: 'Roboto Mono'; }

pre {
  text-align: left;
  margin-bottom: 1.5rem;
  tab-size: 2; }

pre + figcaption {
  margin-top: -1rem; }

ul {
  margin-bottom: 1.5rem; }
  ul li {
    list-style-type: square; }

ol {
  margin-bottom: 1.5rem; }
  ol li {
    list-style-type: decimal; }

i {
  font-style: italic; }

@media (max-height: 200px) {
  h1 {
    font-size: 18pt; }

  h2 {
    font-size: 15pt; }

  p {
    font-size: 10pt; } }
:root {
  --frame-height: 83px; }

@media (max-width: 480px) {
  :root {
    --frame-height: 45px; } }
@media (max-height: 200px) {
  :root {
    --frame-height: 20px; } }
body {
  background-color: #2E2E2E; }

.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  float: left; }
  .cover .logo {
    height: 100vh;
    width: 100%; }
  .open .cover {
    display: none; }

.focus {
  display: inline-block;
  height: 0;
  opacity: 0; }

.body {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 2 * var(--frame-height));
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF;
  color: #2E2E2E; }

.content {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0; }

.frame, header, footer {
  overflow: hidden;
  box-sizing: border-box;
  height: var(--frame-height);
  color: #FFF;
  opacity: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .frame a, header a, footer a {
    color: #FFF; }

header {
  top: 0;
  padding-top: 2rem; }
  header a {
    text-decoration: none;
    font-size: 20pt;
    font-family: "Archivo Narrow", sans-serif;
    margin-left: 5rem; }
    header a:first-child {
      margin-left: 0; }
    header a.active {
      border-bottom: 1px solid #FFF; }

footer {
  bottom: 0; }
  footer svg {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; }
  footer .text {
    opacity: 0; }

.columns {
  margin-bottom: 1rem; }
  .columns:after {
    content: "";
    display: table;
    clear: both; }

.column {
  width: 50%;
  float: left; }

figure {
  margin-bottom: 1.5rem;
  text-align: center; }

figcaption {
  margin-top: 0.5rem;
  text-align: left;
  line-height: 1.25em;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 13px;
  font-weight: 600; }

figure {
  margin-bottom: 1.5rem;
  text-align: center; }

figcaption {
  margin-top: 0.5rem;
  text-align: left;
  line-height: 1.25em;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 13px;
  font-weight: 600; }

@media (max-width: 480px) {
  .body {
    padding: 0 1rem 1rem 1rem; }

  .content {
    max-width: unset; }

  header {
    padding-top: 0.75rem; }
    header a {
      font-size: 14pt;
      margin-left: 1rem; }

  .column {
    width: 100%; }
    .column:not(:first-child) {
      padding-top: 1rem; } }
@media (max-height: 200px) {
  .body {
    padding: 0 1rem 1rem 1rem; }

  header {
    padding-top: 0; }
    header a {
      font-size: 10pt;
      margin-left: 1.5rem; } }
.active-tracker {
  margin-top: 8px;
  width: 100%;
  height: 1px; }

.active-indicator {
  fill: #FFF; }

@media (max-width: 480px) {
  .active-tracker {
    margin-top: 2px; } }
@media (max-height: 200px) {
  .active-tracker {
    margin-top: 2px; } }
article {
  border: 1px solid #CCCCCC;
  padding: 1rem 0 1rem 0; }
  article figure {
    float: left;
    width: 25%;
    padding-right: 0.5rem;
    box-sizing: border-box;
    padding-left: 1rem;
    margin-bottom: 1rem; }
    article figure img {
      width: 100%; }
  article section {
    width: 75%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 1rem; }
    article section :last-child {
      margin-bottom: 0; }
  article h2 {
    padding-top: 0; }
    article h2 a {
      color: #2E2E2E;
      text-decoration: none; }
  article .byline {
    margin-top: -0.75rem;
    margin-bottom: 0.75rem;
    font-size: 10pt;
    color: #9F9F9F; }
    article .byline p {
      display: inline-block;
      margin-bottom: 0; }
    article .byline p:nth-child(2) {
      float: right; }

@media (max-width: 480px) {
  article figure {
    width: 33%;
    padding-left: 0.5rem;
    padding-right: 0; }
  article section {
    display: block;
    width: 100%; }
  article h2 {
    padding-left: calc(33% + 1rem); }
    article h2:after {
      content: "";
      display: table;
      clear: both; } }
body:not([class*="open"]) {
  cursor: pointer; }

[data-page] {
  display: none; }

[data-active-page='company'] [data-page='company'] {
  display: block; }

[data-active-page='services'] [data-page='services'] {
  display: block; }

[data-active-page='articles'] [data-page='articles'] {
  display: block; }

[data-active-page='open-source'] [data-page='open-source'] {
  display: block; }

.headshot {
  height: 12rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem; }

/*# sourceMappingURL=index.css.map */
