@import "globals";
@import "side-nav";
@import "monokai";

.byline {
	margin-top: -0.5rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid $divider-color;

	p {
		display: inline-block;
		margin-bottom: 0;
	}

	p:nth-child(2) {
		float: right;
	}
}

h1, h2, h3, h4 {
	a {
		color: $primary-color;
		text-decoration: none;
	}
}