@import "reset";
@import "globals";
@import "typography";

$logo-height: 470px;
$logo-width: 280px;
$gradient-fudge: 3px;
$horizontal-gradient-stops: $transparent 0%, $transparent #{$logo-width / 2}, $primary-color #{$logo-width / 2}, $primary-color 100%;
$vertical-gradient-stops: $primary-color 0%, $primary-color calc(50% - #{$logo-height / 2 - $gradient-fudge}), $transparent calc(50% - #{$logo-height / 2 - $gradient-fudge}), $transparent calc(50% + #{$logo-height / 2}), $primary-color calc(50% + #{$logo-height / 2});

body {
	perspective: 1000px;

	&:not([class*="open"]) {
		cursor: pointer;
	}
}

.cover {
	width: 50%;
	height: 100vh;
	float: left;

	.logo {
		margin-top: calc(50vh - #{$logo-height / 2});
		background-color: $primary-color;
		background-image: url('../images/logos/logo-white-transparent.png');
		background-repeat: no-repeat;
		width: #{$logo-width / 2};
		height: $logo-height;
		transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transform-style: preserve-3d;

		.open & {
		}
	}
}

.cover-left {
	@extend .cover;

	background: linear-gradient(to bottom, $vertical-gradient-stops), linear-gradient(to left, $horizontal-gradient-stops);

	.logo {		
		margin-left: calc(100% - #{$logo-width / 2});
		transform-origin: 0% 50%;

		.open & {
			transform: rotateY(-90deg);
		}
	}
}

.cover-right {
	@extend .cover;
	background: linear-gradient(to bottom, $vertical-gradient-stops), linear-gradient(to right, $horizontal-gradient-stops);

	.logo {		
		margin-left: 0;
		background-position: top left calc(-#{$logo-width / 2});
		transform-origin: 100% 50%;

		.open & {
			transform: rotateY(90deg);
		}
	}
}
