$heading-font: 'Archivo Narrow', sans-serif;
$body-font: 'Roboto', sans-serif;
$primary-color: #2E2E2E;
$link-color: #9F9F9F;
$divider-color: #CCCCCC;
$code-color: #DDDDDD;
$transparent: rgba(0, 0, 0, 0);

$break-mobile: 480px;
$break-iframe-height: 200px;