@import "globals";

$frame-height: 83px;

body {
	background-color: $primary-color;
}

.cover {
	position: absolute;
	width: 100%;
	height: 100vh;
	float: left;
	// background-color: $primary-color;

	.logo {
		height: 100vh;
		width: 100%;
	}

	.open & {
		display: none;
	}
}

.focus {
	display: inline-block;
	height: 0;
	opacity: 0;
}

.body {
	position: absolute;
	top: $frame-height;
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - #{2 * $frame-height});
	padding: 2rem;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFF;
	color: $primary-color;
}

.content {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
}

.frame {
	// For testing:
	// background-color: blue;

	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
	height: $frame-height;
	color: #FFF;
	opacity: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	a {
		color: #FFF;
	}
}

header {
	@extend .frame;
	top: 0;
	padding-top: 2rem;

	a {
		text-decoration: none;
		font-size: 20pt;
		font-family: $heading-font;
		margin-left: 5rem;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			border-bottom: 1px solid #FFF;
		}
	}
}

footer {
	@extend .frame;
	bottom: 0;

	svg {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}

	.text {
		opacity: 0;
	}
}

.columns {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	margin-bottom: 1rem;
}

.column {
	width: 50%;
	float: left;
}

figure {
	margin-bottom: 1.5rem;
	text-align: center;
}

figcaption {
	margin-top: 0.5rem;
	text-align: left;
	line-height: 1.25em;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 13px;
	font-weight: 600;
}

figure {
	margin-bottom: 1.5rem;
	text-align: center;
}

figcaption {
	margin-top: 0.5rem;
	text-align: left;
	line-height: 1.25em;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 13px;
	font-weight: 600;
}

@media (max-width: $break-mobile) {

	$header-height: 45px;
	$footer-height: 45px;
	// $mobile-bottom-padding: 40px;

	.body {
		height: calc(100vh - #{$header-height + $footer-height});
		top: $header-height;
		padding: 0 1rem 1rem 1rem;
	}

	.content {
		max-width: unset;
	}

	header {
		height: $header-height;
		padding-top: 0.5rem;

		a {
			font-size: 18pt;
			margin-left: 1.5rem;
		}
	}

	footer {
		height: $footer-height;
		// padding-bottom: $mobile-bottom-padding;
	}

	.column {
		width: 100%;

		&:not(:first-child) {
			padding-top: 1rem;
		}
	}
}

// Supporting really short viewport for the embedded iframe
@media (max-height: $break-iframe-height) {
	$header-height: 20px;
	$footer-height: 20px;

	.body {
		padding: 0 1rem 1rem 1rem;
	}

	header {
		height: $header-height;
		padding-top: 0;

		a {
			font-size: 10pt;
			margin-left: 1.5rem;
		}
	}

	footer {
		height: $footer-height;
	}

	.body {
		height: calc(100vh - #{$header-height + $footer-height});
		top: $header-height;
	}
}