@import "globals";

body {
	font-family: $body-font;
}

h1, h2, h3, h4 {
	font-family: $heading-font;
	font-weight: 500;
}

h1 {
	font-size: 24pt;
	padding-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.25em;
}

h2 {
	font-size: 20pt;
	padding-top: 1rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 13pt;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
}

p {
	margin-bottom: 1em;
	line-height: 1.5em;
}

li {
	margin-left: 1.5rem;
	line-height: 1.5rem;
}

blockquote {
	font-family: $heading-font;
	font-size: 16pt;
	font-weight: 500;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-style: italic;
}

a {
	color: $link-color;
}

code {
	font-family: 'Roboto Mono';

	mark {
		margin-left: -150px;
		padding-left: 16px;
	}
}

pre {
	text-align: left;
	margin-bottom: 1.5rem;
	tab-size: 2;
}

pre + figcaption {
	margin-top: -1rem;
}

ul {
	margin-bottom: 1.5rem;

	li {
		list-style-type: square;
	}
}

ol {
	margin-bottom: 1.5rem;

	li {
		list-style-type: decimal;
	}
}

i {
	font-style: italic;
}

b {
	font-weight: 600;
}

// Supporting really short viewport for the embedded iframe
@media (max-height: $break-iframe-height) {
	h1 {
		font-size: 18pt;
	}

	h2 {
		font-size: 15pt;
	}

	p {
		font-size: 10pt;
	}
}