html
	head
		link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Roboto:300", rel="stylesheet")
		link(href="./css/door.css", rel="stylesheet")
		script(src="./js/door.js", type="module", defer)
	body
		.cover-left
			.logo
		.cover-right
			.logo