div(data-page="articles", data-title="Articles")
	h1 Articles
	article
		figure: a(href='/articles/clean-responsive-code-css-variables-custom-poperties')
			img(src='/images/articles/clean-responsive-code-css-variables-custom-poperties/preview.png')
		section
			h2: a(href='/articles/clean-responsive-code-css-variables-custom-poperties') Clean Responsive Design Code With CSS Custom&nbsp;Properties
			.byline
				p Jeff Sneden
				p #[time(datetime="2018-03-04 00:00") March 4, 2018]
			p Way back in the late 2000's / early 2010's there was heated debate about Adaptive Web Design (AWD) (serving up different versions of a page based on device) versus Responsive Web Design (RWD) (serving a single page that can render appropriately for any device). The best arguments for AWD centered around performance for mobile devices and support from older borwsers. The best arguments for RWD centered around maintainability of code...
			
	article
		figure: a(href='/articles/animating-svg-path-data-metamorpher-velocityjs')
			img(src='/images/articles/animating-svg-path-data-metamorpher-velocityjs/preview.gif')
		section
			h2: a(href='/articles/animating-svg-path-data-metamorpher-velocityjs') Animating SVGs with Metamorpher and&nbsp;VelocityJS
			.byline
				p Jeff Sneden
				p #[time(datetime="2018-02-28 00:00") February 28, 2018]
			p With support for inline SVGs ubiquitous among modern browsers, it's time to start to use them for more than just images on a page. One such usage is animation that feels like it's part of the page - SVG elements interacting with DOM elements because they are indeed part of the DOM...