
<div data-page="articles" data-title="Articles">
  <h1>Articles</h1>
  <article>
    <figure><a href="/articles/animating-svg-path-data-metamorpher-velocityjs"><img src="/images/articles/animating-svg-path-data-metamorpher-velocityjs/emoji.gif"/></a></figure>
    <section>
      <h2><a href="/articles/animating-svg-path-data-metamorpher-velocityjs">Animating SVGs with Metamorpher and&nbsp;VelocityJS</a></h2>
      <div class="byline">
        <p>Jeff Sneden</p>
        <p>
          <time datetime="2018-02-28 00:00">February 28, 2018</time>
        </p>
      </div>
      <p>With support for inline SVGs ubiquitous among modern browsers, it's time to start to use them for more than just images on a page. One such usage is animation that feels like it's part of the page - SVG elements interacting with DOM elements because they are indeed part of the DOM...</p>
    </section>
  </article>
</div>