div(data-page="company")
	h2 Agency Autonomous
	p An independent web technology consulting firm specializing in e-commerce and financial technology products. Founded in 2015 by e-commerce industry veteran Jeff Sneden as a vehicle for his independent work.

	blockquote Successful organizations are built through a balance of people, process and technology.

	p At Agency Autonomous, this guides every project undertaken and we strive to impact the organizations we work with in each of these areas.

	h2 Technology
	p Agency Autonomous is, first and foremost, about delivering web technology solutions. We provide web implementations for whatever your business needs to do what it does best. When you work with us, you can expect that your product will be implemented with all of the latest web standards and be built in a maintainable and extensible fashion. All sites are developed responsively to handle all types of devices with the latest web technology.

	h2 Process
	p Process is inescapable in everything people do. Whether your organization is process-mature or just getting off of the ground, we can adapt your processes and help you improve them over time.

	h3 Software Process 
	p Being a technology company, our process starts with standard software development processes. We have experience working in many paradigms - #[a(href='https://en.wikipedia.org/wiki/Agile_software_development', target='_blank') Agile], #[a(href='https://en.wikipedia.org/wiki/Waterfall_model', target='_blank') Waterfall], #[a(href='https://en.wikipedia.org/wiki/Software_prototyping', target='_blank') Rapid Prototyping] or whatever else your organization prefers.

	h3 Business Process
	p Often clients have a broad vision for a new line of business which they know includes a significant technology component but they may not have that idea fully fleshed out. We can help define aspects of your business operations and show where technology can help. Our consultants have developed web products for clients in a variety of industries including retail (clothing, home improvement, furniture, jewelery, electronics and more,) finance, transportation and sports gaming.

	h2 Culture
	p Creating a culture of positivity and encouragement is a core tennant of Agency Autonomous. Don't feel embarrassed by what you don't know, help others when they come up short and create an environment conducive of happiness and productivity. This is our positive spin on #[a(href='https://en.wikipedia.org/wiki/The_No_Asshole_Rule', target='_blank') The No Asshole Rule], popularized by Robert I. Sutton.
