
<header><a href="/company" data-navigo="data-navigo">Company</a><a href="/articles" data-navigo="data-navigo">Articles</a><a href="/open-source" data-navigo="data-navigo">Open&nbsp;Source</a><a href="/services" data-navigo="data-navigo">Services</a>
  <svg class="active-tracker" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 100 2">
    <path class="active-indicator" d="M 50 0 L 50 0 L 50 2 L 50 0 L 50 0 Z"></path>
  </svg>
</header>