header
	a(href='/company', data-navigo) Company
	a(href='/services', data-navigo) Services
	//- a(href='/articles', data-navigo) Articles
	a(href='/open-source', data-navigo) Open&nbsp;Source

	svg(class="active-tracker", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", style="isolation:isolate", viewBox="0 0 100 2")
		path(class='active-indicator' d='M 50 0 L 50 0 L 50 2 L 50 0 L 50 0 Z')