html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Roboto:300", rel="stylesheet")
		link(href="/css/index.css", rel="stylesheet")
		script(src="/es5/index.js", async)
	body
		.body
			.content
				a.focus(href='javascript:void(0);', tabindex='-1') &nbsp;
				include ./company.pug
				include ./articles.pug
				include ./open-source.pug
				include ./services.pug

		.cover 
			a(href='/company', data-navigo)
				include ../images/logos/logo-animate.svg

		include ./header.pug
		include ./footer.pug