div(data-page="open-source")
	h2 Open Source Projects 
	p Although most work we produce is owned by the clients we produce it for, we try to open source our work whenever possible. These packages are provided to the community under the MIT license below.

	h2: a(href='https://github.com/jsneden/element-coordinates') Element Coordinates
	p Determine absolute page positioning and sizing of an element's content box (inner), padding box (background) and border box (outer). 
	h2: a(href='https://github.com/jsneden/promise-font') Promise Font
	p Get a promise that will resolve when a specified font has been loaded and reject if the font fails to load before the timeout. This is mostly useful for handling complex UX issues resulting from the difference between the default font's size and the specified font's size.
	h2: a(href='https://github.com/jsneden/svg-viewbox-maximize') SVG Viewbox Maximize 
	p Resize SVG viewBox coordinate system to cover container element. Also includes a utility for translating between page coordinates and SVG coordinates.
	h2: a(href='https://github.com/jsneden/svg-path-transform') SVG Path Transform
	p Utilities for working with and transforming SVG Paths in the DOM.