
<div data-page="services" data-title="Services Offered">
  <h1>Services Offered</h1>
  <p>Whether you need help with an existing project or are looking for a turn-key website, Agency Autonomous can help.</p>
  <div class="columns">
    <div class="column">
      <h3>Typical Services </h3>
      <ul>
        <li>Project Planning and Definition</li>
        <li>Technical Design</li>
        <li>Development</li>
        <li>Deployment</li>
        <li>Product Documentation</li>
        <li>Process Optimization</li>
        <li>Training</li>
      </ul>
    </div>
    <div class="column">
      <h3>Preferred Technologies</h3>
      <ul>
        <li>JavaScript / NodeJS</li>
        <li>Java</li>
        <li>SQL</li>
        <li>SASS</li>
        <li>Webpack / Grunt / Gulp</li>
      </ul>
    </div>
  </div>
  <h2>Principal Consultant</h2><img class="headshot" src="./images/headshot.png"/>
  <p>The heart and soul of Agency Autonomous is Jeff Sneden, an IT leader with 10+ years of experience in building some of the highest revenue websites in the world and developing a successful startup from the ground up. Through this work, he has operated in full-stack software development, process definition, project planning, team management and organizational strategy.</p>
  <p>Most recently, Jeff worked with Agency Autonomous' first client, Netcapital, serving as their CTO, architecting the development of the web platform and API backend, and defining the process for the supporting operations. During his time with Netcapital, the company grew from 2 to 12 people and raised $2M for customer businesses during the first year of the platform operation.</p>
  <p>Before Netcapital, he founded the Search and Content Management practice for a leading e-commerce integration firm, KnowledgePath. In this capacity, Jeff lead the development of projects for Lowe's, TJMaxx (TJX) and other e-commerce retailers. His work at KnowledgePath helped bring about their acquisition by DMI, a mobile development company.</p>
  <p>Previous to KnowledgePath, Jeff worked as a member of a SWAT team at IBM built to ensure the success of the highest-value projects around the globe. At IBM, Jeff was integral in building the websites for Costco, IKEA, QVC, American Airlines and others.</p>
  <h2>Pricing</h2>
  <p>At Agency Autonomous, we work with clients of all sizes from startup to Fortune 500. Because of this, we have flexible pricing models. For established businesses and subcontracting we offer simple hourly pricing and contract-to-hire. For small-to-medium size businesses we typically work on a blend of hourly and revenue sharing. For startup businesses which we believe in, we're happy to work on an equity basis.</p>
  <h2>Getting Started</h2>
  <p>Have a project you need help with? Email <a href="mailto:info@agencyautonomous.com">info@agencyautonomous.com</a>.</p>
</div>